{% block content %}
   <form action="" method="post">
     {% csrf_token%}
     {{ form.car }}
     <input type="submit" value="Применить" >
   </form>
   <table>  
   <tr>
     <th></th>
       <th>Борт. номер           </th>
       <th>Модель                </th>
       <th>Макс. грузоподьемность</th>
       <th>Текущий вес           </th>
       <th>Перегруз %            </th>
   </tr>
  {% for race in races %}
    <tr>
       <th></th>
       <th>{{ race.car.id_number }}</th>
       <th>{{ race.car.car_model }}</th>
       <th>{{ race.car.car_model.load_capasity }}</th>
       <th>{{ race.ore_weight }}</th>
       <th>{{ race.overloading|floatformat:2 }}</th>
   </tr>
  {% endfor %}
 </table>  
{% endblock %}